/* ==UserStyle==
@name           messenger lazy dark
@namespace      stdio.h
@version        10.3
@description    version zucc mode
@author         7aint
@updateURL      https://userstyles.world/api/style/7074.user.css
@preprocessor stylus
@var checkbox noSendEmojiButt "Hide send/emoji button" 0
@var checkbox noSidebarbloat "Remove messenger.com sidebar bloat" 0
@var select color "Color" { 
  "Pink": "2",
  "Violet": "5",
  "Yellow": "4",
  "Blue": "3",
  "Black": "1",  
  "Dark": "0" 
}
@var checkbox isBG "Custom background" 1
@var text nothing "> Images can only come from photos uploaded in facebook. Example: " ""<fbcdn URL>""
@var text BG1 "- Image URL Main " ""https://media.tenor.com/nr76QwvVCQUAAAAC/dark-flower.gif""
@var text BG2 "- Image URL Navigation " ""https://media.tenor.com/dGd8YKkiFCgAAAAC/dark-flower.gif""
@var text gradientAngleM "- Gradient Angle Main" -108deg
@var text chatBoxSurrBlur "- Chat Box Enclosure Blur" 0.4em
@var color chatBoxSurrBG "- Chat Box Enclosure" #0002
@var color gradientColor1m "- Gradient Main L" #0009
@var color gradientColor2m "- Gradient Main R" #000B
@var color gradientColor1n "- Gradient Navigation L *" #000C
@var color gradientColor2n "- Gradient Navigation R" #000E
@var color listNavBG "- List Navigation BG" #111a
==/UserStyle== */

@-moz-document regexp("http(|s):\\/\\/(|www.)(facebook.com\\/(mess|groupcall)|messenger.com).*") {
  
  .__fb-dark-mode, .__fb-light-mode {
    color: var(--primary-text)
    --overlay-alpha-80: rgba(11, 11, 11, 0.8);
    --secondary-button-text: #E4E6EB;
  }
  
  if noSendEmojiButt == 1 {
    div:not([class]) > div > span + div > div[style] > div[id] + div:not([id]) { /* message input box right borders*/
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    div:not([class]) > div > span + div + span { /* the poopy button*/
      display:none;
    }
  }
  
  :root {
    color-scheme: dark; /* chrome specific */
  
    ---a00: #111;  /* --web-wash */
    
    ---b01: #fffc; /* --always-white */
    ---b02: #fffc; /* --always-black */
    
    ---c01: #fffa; /* --primary-text */
    ---c02: #828282 ; /* --secondary-text */

    ---d01: #ffffff03; /* --surface-background */
    ---d02: #aaa; /* --accent */
    ---d03: #252527; /* --popover-background */
    ---d04: #0b0b0b21; /* --divider */
    ---d05: #d5d5d50f; /* --hosted-view-selected-state */
    ---d06: #f9f9f917; /* --hover-overlay */
    ---d07: #f9f9f936; /* --press-overlay */
    ---d08: #fff; /* --scroll-thumb */
    
    ---e01: #242527; /* --messenger-card-background */
    ---e02: #ffffff0a; /* --comment-background */
    ---e03: #ffffff08; /* --comment-footer-background */
    ---e04: #f7b9287d; /* --base-lemon */
    ---e05: #363638; /* --wash */
    ---e06: #ffffff1f; /* --fds-black-alpha-05 */
    ---e07: #8A8D91; /* --placeholder-text */
    ---e08: #fff4; /* --disabled-text */
    ---e09: #fff3; /* --mw-blockquote-border-start-color */
    ---e09: #fff; /* --base-lime */
    
    ---f01: #212222eb; /* --card-background */
    ---f02: #424242; /* --primary-button-background */
    ---f03: #3e3e3e; /* --disabled-button-background */
    ---f04: #fff1; /* --primary-deemphasized-button-background */
    ---f05: #fffa; /* --primary-deemphasized-button-text */
    ---f06: #fffa; /* --card-background-flat */  
    ---f07: #e6000096; /* --warning */
    
    ---g01: #fff1; /* --secondary-button-background */
    ---g02: #282829; /* --secondary-button-background-floating */
    ---g03: #8686864a; /* --non-media-pressed-on-dark */
    ---g04: #1a1a1a85; /* --non-media-pressed */
    
    --bg-fg-nonprop: blur(chatBoxSurrBlur);
    --chat-enclosure-bg: chatBoxSurrBG;

    --poll-vote: #fff7;
    --end-call: #e600006e;

    if color == 0 {
      if isBG == 0 {
        --blob-bg: #fff1;
        --blob-bg-r: #11111196;
      } else {
        --blob-bg: #ffffff21;
        --blob-bg-r: #ffffff17;
      }
      --img-icons: invert(.75);  
      --svg-icons: #fff9; 
      --scroll-h: #fff4;
    }
    
    if color == 1 {
      ---c01: #fff9; 
      ---c02: #757575;  
      
      ---d01: #000; 
      
      ---e01: #000; 
      if isBG == 1 {
        ---e03: #ffffff08; 
      } else {
        ---e03: #ffffff15; 
      }
      ---e05: #202020; 

      if isBG == 0 {
        --blob-bg: #202020;
        --blob-bg-r: #20202096;
      } else {
        --blob-bg: #ffffff0a;
        --blob-bg-r: #ffffff03;
      }

      --img-icons: invert(.50);  
      --svg-icons: #fff7; 
      --scroll-h: #fff2;
      
    } if color == 2 {
      ---c01: #f1b8dab3;
      ---c02: #f97cc46e;

      ---d01: #290215ed;
      ---d02: #a43474;
      ---d03: #252527;
      ---d04: #4400286e;
      ---d05: #1c0013a8;
      ---d06: #ff72cb17;
      ---d07: #ff9aec36;
      ---d08: #fff;

      ---e01: #2b1c23;
      ---e02: #ff00bc0a;
      ---e03: #ff007c0d;
      ---e04: #f7284442;
      ---e05: #ff009c0a;
      ---e06: #00000045;
      ---e07: #a2558f;
      ---e08: #6d3d50;
      ---e09: #ad436d80;
      ---e12: #a0007a2b;
      ---e13: #77415f;
      ---e14: #d33c99;
      
      ---f01: #200716eb;
      ---f02: #55002d;
      ---f03: #2f1a26;
      ---f04: #ff007c11;
      ---f05: #ff85b6aa;
      ---f06: #fff;
      ---f07: #ff5900a1;

      ---g01: #150009d1;
      ---g02: #380028;
      ---g03: #ff3ec83b;
      ---g04: #3800285c;
      
      if isBG == 0 {
        --blob-bg: #3c1a2f;
        --blob-bg-r: #200b1896;
      } else {
        --blob-bg: #e050ba21;
        --blob-bg-r: #e050ba14;
      }

      --img-icons: invert(.75) sepia(100%) saturate(75) hue-rotate(-60deg) brightness(0.70); 
      --svg-icons: var(--accent); 
      --scroll-h: #c800914f;
      --poll-vote: #99003477;
      --end-call: #3e000c;
      --bg-fg-nonprop: blur(chatBoxSurrBlur);
      
    } if color == 3 {
      ---c01: #b8c6f1b3;
      ---c02: #7cbbf99e;

      ---d01: #010618;
      ---d02: #3863d9;
      ---d03: #252627;
      ---d04: #0016446e;
      ---d05: #061629d1;
      ---d06: #72b9ff17;
      ---d07: #9ad7ff36;
      ---d08: #fff;

      ---e01: #1c1d2b;
      ---e02: #1043b32b;
      ---e03: #1953ff1a;
      ---e04: #287bf742;
      ---e05: #0066ff0a;
      ---e06: #00000045;
      ---e07: #3e5c91;
      ---e08: #3d516d;
      ---e09: #435fad80;
      ---e10: #fff;
      ---e11: #fff;
      ---e12: #001c5e73;
      ---e13: #51679e;
      ---e14: #899ac6;
      
      ---f01: #071120eb;
      ---f02: #001f55;
      ---f03: #1a202f;
      ---f04: #07f1;
      ---f05: #85beffaa;
      ---f06: #fff;
      ---f07: #00ffcca1;

      ---g01: #000915d1;
      ---g02: #001738;
      ---g03: #3e8bff3b;
      ---g04: #0019385c;


      if isBG == 0 {
        --blob-bg: #20284f;
        --blob-bg-r: #111429e6;
      } else {
        --blob-bg: #507ee021;
        --blob-bg-r: #507ee014;
      }

      --img-icons: invert(.75) sepia(100%) saturate(75) hue-rotate(-150deg) brightness(0.70); 
      --svg-icons: var(--accent); 
      --scroll-h: #2150c88c;
      --poll-vote: #00479977;
      --end-call: #35003e;
      --bg-fg-nonprop: blur(chatBoxSurrBlur);

    } if color == 4 {
      ---c01: #EFD8B2B3;
      ---c02: #f8bb6c6e;

      ---d01: #251102f2;
      ---d02: #d57c08;
      ---d03: #242422;
      ---d04: #4228006E;
      ---d05: #1a1501d4;
      ---d06: #FFE97017;
      ---d07: #FFDE9936;

      ---e01: #2b1205;
      ---e02: #B186102B;
      ---e03: #F7FF141A;
      ---e04: #F6D72742;
      ---e05: #FFE9000A;
      ---e06: #00000045;
      ---e07: #8E7E3D;
      ---e08: #6B643C;
      ---e09: #AC9C4380;
      ---e12: #5B540073;
      ---e13: #97884E;
      ---e14: #c4b287;
      
      ---f01: #1d1306eb;
      ---f02: #692600;
      ---f03: #2D2919;
      ---f04: #ffa60011;
      ---f05: #ffce84aa;
      ---f07: #FF2A00A1;

      ---g01: #141300D1;
      ---g02: #332B00;
      ---g03: #FFEE3D3B;
      ---g04: #3133005C;


      if isBG == 0 {
        --blob-bg: #42210c;
        --blob-bg-r: #1a100a96;
      } else {
        --blob-bg: #dea74e21;
        --blob-bg-r: #dea94e14;
      }

      --img-icons: invert(.75) sepia(100%) saturate(100) hue-rotate(30deg) brightness(0.70); 
      --svg-icons: var(--accent); 
      --scroll-h: #C490218C;
      --poll-vote: #998C0077;
      --end-call: #3D1100;
      --bg-fg-nonprop: blur(chatBoxSurrBlur);

    } if color == 5 {
      ---c01: #c6afeebd;
      ---c02: #b468f79c;

      ---d01: #210a44f2;
      ---d02: #7535cf;
      ---d03: #212021;
      ---d04: #16003D6E;
      ---d05: #0c022be6;
      ---d06: #976BFF17;
      ---d07: #B799FF36;

      ---e01: #251140;
      ---e02: #5B10AC2B;
      ---e03: #670FFF1A;
      ---e04: #990FF542;
      ---e05: #7B00FF0A;
      ---e06: #00000045;
      ---e07: #5C3C8A;
      ---e08: #563A68;
      ---e09: #6A41A480;
      ---e12: #29005673;
      ---e13: #7F4D92;
      ---e14: #9D83C2;
      
      ---f01: #0F0519EB;
      ---f02: #8C00B7;
      ---f03: #23172A;
      ---f04: #8700FF11;
      ---f05: #AE7FFFAA;
      ---f07: #FF2A00A1;

      ---g01: #09000FD1;
      ---g02: #180033;
      ---g03: #6632FF3B;
      ---g04: #1500335C;

      if isBG == 0 {
        --blob-bg: #190B3C;
        --blob-bg-r: #0E081696;
      } else {
        --blob-bg: #8c42db38;
        --blob-bg-r: #8446db26;
      }

      --img-icons: invert(.75) sepia(100%) saturate(100) hue-rotate(-90deg) brightness(0.70); 
      --svg-icons: var(--accent); 
      --scroll-h: #701FB78C;
      --poll-vote: #5B009977;
      --end-call: #3D1100;
      --bg-fg-nonprop: blur(chatBoxSurrBlur);
    }
  }
  
  .__fb-dark-mode, .__fb-light-mode { /* theme coloring */
    
    --web-wash: var(---a00);

    --always-white: var(---b01);
    --always-black: var(---b02);

    --primary-text: var(---c01);
    --secondary-text: var(---c02);
    --chat-admin-text-color: var(---c02); /* chat message meta display */

    --surface-background: var(---d01); /* chat list bg + sidebar bg */
    --accent: var(---d02); /* unread message dot notif, */
    --popover-background: var(---d03); /* chat menu button bg */
    --divider: var(---d04); /* line that appears after scrolling in chat list, disabled toggle bg, deleted message blob border */
    --hosted-view-selected-state: var(---d05); /* selection bg*/
    --hover-overlay: var(---d06); /* selection hover bg*/
    --pressable-background-color-hover: var(---d06); /* options sidebar selection hover bg*/
    --press-overlay: var(---d07); /* selection press bg */
    --scroll-thumb: var(--scroll-h); /* chat search scroll bar color*/
    --switch-active: var(---f02); /* menu option toggle (facebook.com) */
    --toggle-active-background: var(---f02) !important; /* menu option toggle (messenger.com) */
    --circle-button-normal-background-color: var(---d05); /* options panel icon bg */

    --chat-replied-message-background-color: var(--blob-bg-r);
    --messenger-card-background: var(---e01); /* chat box + chat info */
    --comment-background: var(---e02); /* input box bg */
    --chat-incoming-message-bubble-background-color: var(--blob-bg) !important;
    --chat-outgoing-message-bubble-background-color: var(--blob-bg) !important;
    --chat-outgoing-message-background-gradient: var(--blob-bg) !important; /* reply blob gradient */
    --comment-footer-background: var(---e03); /* reply blob bg */
    --base-lemon: var(---e04); /* message search keyword highlight */
    --wash: var(---e07); /* skeleton */
    --placeholder-icon: var(---e07); /* skeleton (facebook.com) */
    --fds-black-alpha-05: var(---e06); /* file attachment icon bg */
    --placeholder-text: var(---e07); /* reply passive notif */
    --disabled-text: var(---e08); /* deleted message text */
    --chat-text-blockquote-color-background-line: var(---e09); /* quote block left border */
    --base-lime: var(---e06); /* call started notif icon bg wtdf*/
    --background-deemphasized: var(---d05); /* + button bg */
    --comment-background: var(---e05); /* chat search bar */
    --chat-composer-input-background-color: var(---e05);
    --input-background: var(---e12); /* fancy input box color*/
    --input-border-color: var(---e13); /* fancy input box color*/
    --input-label-color-highlighted: var(---e14); /* fancy input placeholder focus color*/

    --card-background: var(---f01); /* floating window bg (emoji selector, menus)*/
    --shadow-inset: var(---f04); /* dialog box shadow border */
    --primary-button-background: var(---f02) !important;  /* confirm button  */
    --disabled-button-background: var(---f03); /* s.e. */
    --primary-deemphasized-button-background: var(---f04); /* e.g. send button */
    --primary-deemphasized-button-text: var(---f05); 
    --card-background-flat: var(---f01) !important; /* hovered tooltip */
    --warning: var(---f07) !important; /* delete confirm button */

    --secondary-button-background: var(---g01); /* passive icon background */
    --base-cherry: var(---g02); /* inchat call icon blob */
    --secondary-button-background-floating: var(---g02); /* same but it floats (e.g go to bottom of chat button)*/
    --non-media-pressed-on-dark: var(---g03); /* call icon hover bg */
    --non-media-pressed: var(---g04); /* call icon pressed bg */
        
    --fds-white-alpha-50: var(---c02); /* video seekbar bg buffer */
    --fds-white-alpha-40: var(---c01); /* video seekbar bg length */
    --progress-ring-neutral-foreground: var(---c02); /* audio seekbar ring color */
    --placeholder-text-on-media: var(---d05); /* audio speed indicator bg */
    
  }
  
  if isBG == 1 {
    
    div[role="navigation"] + div > div, /* new chat bg replace (messenger.com) */
    div[role="main"] > div > div, /* new chat bg replace (facebook.com) */
    div[role="navigation"] > div, /* nav bg color replace (facebook.com) */
    .__fb-dark-mode, .__fb-light-mode {
      --surface-background: #0000;
      --messenger-card-background: #0000;
      --comment-background: var(---e12);
      --chat-composer-input-background-color: var(---e12);
    }

    div[role="main"] { /* the chat background */
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: cover;
      background-image: linear-gradient(gradientAngleM, gradientColor1m, gradientColor2m), url(BG1) !important;
    }
    div[role="navigation"], div + div[role="navigation"] { /* the navigation background */
      background-image: linear-gradient(90deg, gradientColor1n, gradientColor2n), url(BG2) !important;
      background-repeat: no-repeat;
      background-size: cover;
    }

  }
  
  [data-pagelet="MWInboxDetail"] > div[role="main"] > div > div > div > div:nth-child(1) > div > div:nth-child(1) > div, /* chat header bg */ 
  div[role="main"] > div > div > div > div > div > div:nth-child(2) > div > div > div:not([class]) > div, /* chat footer bg */ 
  div[role="main"] > div > div > div > div:nth-child(2) /* chat sidebar bg */  { 
    background-color: var(--chat-enclosure-bg);
    if (isBG == 1) {
      backdrop-filter: var(--bg-fg-nonprop);
    }
  }
  
  div[data-scope="messages_table"] div[style*="background-color: r"] { /* hyperlink embed reply message / recording blob */
    background-color: var(--blob-bg) !important;
  }

  div[style^="color: rgb"] { /* [buttonlnk] show individual update. in chat*/
    color: var(---d02) !important;
  }
  
  label, ::placeholder, /* mysterious poll text */
  div[role="button"] > audio[autoplay] + audio[preload] + svg { /* call preview speakers button */ 
    color: var(--primary-text) !important; /* recording timestamp */
    --always-white: var(--blob-bg); /* recording timestamp blob bg */
  } 
  
  div[role="main"] div:nth-child(2) > div > div > div:not([class]) > div > div[style] { /* start record blob */
    background-color: var(--blob-bg) !important;
    div {
      --always-white: var(---e06);
      color: var(--primary-text) !important;
    }
    > div > div:first-child { /* seek */
      opacity: .6;
    }
  }
  
  div[data-scope="messages_table"] div { /* sent message text color override */
    --always-white: var(--primary-text); 
    --wash: var(--blob-bg) !important;
  }
  
  div[role="slider"] > div > div:nth-child(2), /* video seekbar seeked color */
  div[role="slider"] > div > div[style^="height"] /* video volume color */ { 
    background-color: var(--accent);
  } video + div { /* video timestamp text color */
    --always-white: var(--primary-text) !important;
  }
  
  div[role="dialog"] input[maxlength="140"] { /* custom fart (found on poll item addition/voting)*/
    background-color: #fff1;
    color: var(--primary-text);
    border: var(---f05) 1px solid !important;
    border-radius: 0.3em;
    padding: 3px;
  }
  
  svg {
    --placeholder-icon: var(--svg-icons); /* hidden hover message buttons */
    --chat-composer-button-color: var(--svg-icons);
    --mwp-header-button-color: var(--svg-icons);
    --color: var(--svg-icons) !important;

    [fill^="#"] {
      fill: var(--svg-icons);
    }
  }
  
  div[role="progressbar"] img, /* loading icon */
  div[role] i[data-visualcompletion="css-img"] { /* non-svg icons (not very effective) */
    filter: var(--img-icons);  
  } div[role="main"] form div[aria-disabled="true"][role="button"] > i[data-visualcompletion="css-img"][style] { /* message search ribbon disabled button workaround */
    opacity: .3;
  }  
  
  .always-enable-animations[role="progressbar"],
  .always-enable-animations[role="progressbar"] > div { /* loading bar top */
    background-color: var(---d02)
  }
  
  div[data-scope="messages_table"] div + ul > li > div > div[style] { /* poll vote progress bar */
    background-color: var(--poll-vote) !important;
  }
    
  div[role="main"] form div[role="button"] > div { /* close button on the search bar ribbon */
    --always-white: var(--base-lemon);  
  }
  
  div[role="dialog"] section > div > div > div > canvas { /* call preview audio visualizer */
    filter: var(--img-icons);  
  }
  div[role="button"] > audio[autoplay] + audio[preload] + svg + div { /* call preview speakers seekbar */ 
    background-color: var(---c02) !important;
  } div[role="button"] > audio[autoplay] + audio[preload] + svg + div > div{ /* call preview speakers seekbar seeked */ 
    background-color: var(---c01) !important;
  }
  
  div[role="dialog"] div[tabindex="0"] /* media view */ { 
    --always-black: #000;
  } 
  
  div[style*="#FF443D"] {
    --secondary-button-background: var(--end-call) !important;
  }
  
  div[role="button"] > div[role="listitem"] > div > div:nth-child(3) > div > div { /* call sharescreen perm toggle */
    --disabled-button-background: var(---f03) !important; 
    --secondary-button-background: #d8d8d814 !important;
    --always-white: var(---f05);
  }
  
  
  #facebook { /* firefox specific window scroll removal */
    scrollbar-width: none;
  }
  #facebook::-webkit-scrollbar /* chrome specific window scrollbar removal */ {
    display: none;
  }
  
  /* firefox scrollbar stolen from another messenger style */
  body div { 
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-h) #fff0;
  } 
  
  /* chrome scrollbar stolen from another messenger style*/
  body ::-webkit-scrollbar {
    width: 14px;
    height: 14px;
  } ::-webkit-scrollbar-track:hover {
    background-color: var(--blob-bg) !important;
  } 

  div[class="__fb-light-mode"] > div[style^="transform:"]:hover  ::-webkit-scrollbar-thumb, /* new convo box*/
  div[role="navigation"] + div:hover ::-webkit-scrollbar-thumb,
  div[role="navigation"]:hover ::-webkit-scrollbar-thumb { 
    background-color: var(--scroll-h);
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 10px;
  }
  
  ::selection {
    background-color: #0000;
    color: #fff;
    text-decoration: underline;
  }
  :focus {
    border: 0;
  }
  a[href] { /* link underline */
    text-decoration-color: var(---c02);
  }
  
} 

@-moz-document domain("messenger.com") { 
  
  if noSidebarbloat == 1 {
    div[role="navigation"] > div > div > div > div > div[data-pagelet]:not([id]) > div > div > div:nth-child(2) {
      display: none;
    }
  }
  
  div[role="navigation"] + div[role="navigation"] > div[class]:not([id]):not([role]):last-child > div:has(a:first-child) { /* ad remove (messenger.com)*/
    display: none;
  }

  div[role="navigation"]:first-child { /* chat list nav | for neighbor style workaround */
    if isBG {
      background-image: unset !important;
      background-color: listNavBG;
    } else {
      background-color: #111a;
      + div[role="navigation"] {
        > header,
        > div {
          background-color: #0005;
        }
      }
    }
  }

  .__fb-light-mode[style*="--secondary-button-background"]{ /* toggle button (messenger.com) */
    --secondary-button-background: var(---f03) !important
  }

  .__fb-light-mode > div > .__fb-dark-mode span { /* overlay tooltip text color (messenger.com) */
    --primary-text: var(---c01) !important
  }
}

@-moz-document domain("facebook.com") { 
 
  div[role="navigation"] > div > div > div > div:last-child:not(:first-child):not(div[data-pagelet]):not(div[id]) { /* ad remove (facebook.com) */
    display: none;
  }
  
  div.__fb-light-mode > div[style^="transform:"] > div:not([style]) { /* overlay tooltip (facebook.com) */
    background-color: var(--card-background-flat);
  }

  .__fb-dark-mode[style*="--secondary-button-background"] { /* vote button (facebook.com) */
    --secondary-button-background: var(---f03) !important
  }

}